## 1. IF ELSE
### Method 1

In [1]:
#Program to calculate math grade for students
'''
A = 81-100
B= 71-100
'''
grade= int(input('What grade did you get in Math out of a hundrend? '))
if grade >= 81:
    grade='A'
elif grade >= 71:
    grade='B'
elif grade >= 61:
    grade='C'
elif grade >= 51:
    grade='D'
else:
    grade='E'
    
print(f'You got a {grade} in Mathematics')

What grade did you get in Math out of a hundrend? 34
You got a E in Mathematics

### Method 2 (caters for outliers)

In [15]:
#Program to calculate math grade for students
'''
A = 81-100
B= 71-100
'''
grade= int(input('What grade did you get in Math out of a hundrend? '))
if grade >= 81 and grade <=100:
    grade='A'
elif grade >= 71 and grade <81:
    grade='B'
elif grade >= 61 and grade <71:
    grade='C'
elif grade >= 51 and grade <61:
    grade='D'
elif grade >= 0 and grade <51:
    grade='E'
else:
  grade='invalid grade'
    
print(f'You got a {grade} in Mathematics')

What grade did you get in Math out of a hundrend? -1
You got a invalid grade in Mathematics

## 2a.FOR LOOPS(i)
### Method 1

In [3]:
'''
Print 0 if False and 1 if true
'''
bits = [False, True, False, False, True, False, False, True]

#initiliaze an empty list that we will append values to
new_bits = []

#loop through the list
for bit in bits:
    if bit==False:
        new_bits.append(0)
    else:
        new_bits.append(1)
new_bits

[0, 1, 0, 0, 1, 0, 0, 1]

### Method 2(use list comprehension)

In [4]:
new_bits = [0 if bit==False else 1 for bit in bits]
new_bits

[0, 1, 0, 0, 1, 0, 0, 1]

##  2b)FOR LOOPS
#### Method 1

In [5]:
#['Mary', 'Relax Batman', 'Spongebob']
names = ["mary", "BATMAN", "spongebob"]
new_name=[]

for name in names:
    if name=='BATMAN':
            name= f'Relax {name}'
    name=name.capitalize()
    new_name.append(name)
    
new_name

['Mary', 'Relax batman', 'Spongebob']

### Method 2(use list comprehension)

In [6]:
new_name = [f'Relax {name}' if name=='BATMAN' else name.capitalize() for name in names]
new_name

['Mary', 'Relax BATMAN', 'Spongebob']

In [7]:
### Teachers
#2. example in for loops

names = ["mary", "BATMAN", "spongebob"]
new_name = []

for n in names:
    if n.islower():  # Check if the name is already in lowercase
        n = n.capitalize()
    else:
        n = "Relax " + n.capitalize()
    new_name.append(n)

print(new_name)

['Mary', 'Relax Batman', 'Spongebob']

In [8]:
###Teachers
# using list comprehension
names = ["mary", "BATMAN", "spongebob"]
new_name = [n.capitalize() if n.islower() else "Relax " + n.capitalize() for n in names]
print(new_name)

['Mary', 'Relax Batman', 'Spongebob']


##  2c)FOR LOOPS
### create a function to check for an even number using for loop
#### Method 1

In [9]:
numbers = [3,4,2,1,5,6,9,8,10]
def check_even(numbers_list):
    even_numbers = []
    for number in numbers_list:
        if number %2 ==0:
            even_numbers.append(number)
            
    return even_numbers

In [10]:
check_even(numbers)

[4, 2, 6, 8, 10]

### Method 2(use list comprehension)

In [11]:
def check_even(numbers_list):
    return [number for number in numbers if number %2==0 ]

In [12]:
check_even(numbers)

[4, 2, 6, 8, 10]

##  3a)WHILE LOOPS
### create a while loop that prints 1 to 5

In [13]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

##  3b)WHILE LOOPS
### # i)create a while to prompt you to enter the correct password

In [23]:
password=''
while password != 'Grace':
    password = input('Please enter Correct password')
print(f'Yes, correct password is {password}')

Please enter Correct passwordm
Please enter Correct passwordGrace
Yes, correct password is Grace

##  3b)WHILE LOOPS
### # i)create a while to prompt enter coorect password and if fails more than 3 times deny access

In [1]:
password = ''
count =0
while count <3:
    password = input ('Please enter correct password')
    if password =='Grace':
            print('Login successful please proceed')
            break
    else:
        print('Access Denied try Again')
        count+=1

Please enter correct passwordM
Access Denied try Again
Please enter correct passwordM
Access Denied try Again
Please enter correct passwordgRACE
Access Denied try Again