<a href="https://colab.research.google.com/github/GraceMwende/Data_science_notebooks/blob/main/Copy_of_Functions_With_Arguments_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions With Arguments - Lab

## Introduction
In this lesson, we have decided to visit one of our travel destinations! This time we have chosen to visit Albuquerque, but we aren't very familiar with this city and are quite hungry after our long flight. We will be working with information we pulled from the Yelp database to help us find a restaurant where we can satisfy our hunger. While Yelp is great for learning about what to do in Albuquerque, it gives us back a lot of information. We'll use what we know about functions and dictionaries to format and read our data more easily.

## Objectives

You will be able to:

* Declare and use a function with arguments

## Exploring Two Restaurants in Albuquerque

Let's take a quick look at the information Yelp provides for a single restaurant:

In [1]:
# Run this cell without changes
fork_fig = {'categories': [{'alias': 'burgers', 'title': 'Burgers'},
  {'alias': 'sandwiches', 'title': 'Sandwiches'},
  {'alias': 'salad', 'title': 'Salad'}],
 'coordinates': {'latitude': 35.10871, 'longitude': -106.56739},
 'display_phone': '(505) 881-5293',
 'distance': 3571.724649307866,
 'id': 'fork-and-fig-albuquerque',
 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/_-DpXKfS3jv6DyA47g6Fxg/o.jpg',
 'is_closed': False,
 'location': {'address1': '6904 Menaul Blvd NE',
  'address2': 'Ste C',
  'address3': '',
  'city': 'Albuquerque',
  'country': 'US',
  'display_address': ['6904 Menaul Blvd NE', 'Ste C', 'Albuquerque, NM 87110'],
  'state': 'NM',
  'zip_code': '87110'},
 'name': 'Fork & Fig',
 'phone': '+15058815293',
 'price': '$$',
 'rating': 4.5,
 'review_count': 604,
 'transactions': [],
 'url': 'https://www.yelp.com/biz/fork-and-fig-albuquerque?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ'}

In [2]:
print(len(fork_fig))
print(type(fork_fig))
print(fork_fig['categories'])
print('length of categories',len(fork_fig['categories']))
print(type(fork_fig['categories']))
print(type(fork_fig['coordinates']))

15
<class 'dict'>
[{'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'sandwiches', 'title': 'Sandwiches'}, {'alias': 'salad', 'title': 'Salad'}]
length of categories 3
<class 'list'>
<class 'dict'>

Above is the information provided about `Fork & Fig`, but all restaurants are provided with this information.  For example, here is the information provided by Yelp for another restaurant, `Frontier Restaurant`.

In [3]:
# Run this cell without changes
frontier_restaurant = {'categories': [{'alias': 'mexican', 'title': 'Mexican'},
  {'alias': 'diners', 'title': 'Diners'},
  {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
 'coordinates': {'latitude': 35.0808088832532, 'longitude': -106.619402244687},
 'display_phone': '(505) 266-0550',
 'distance': 4033.6583235266075,
 'id': 'frontier-restaurant-albuquerque-2',
 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/M9L2z6-G0NobuDJ6YTh6VA/o.jpg',
 'is_closed': False,
 'location': {'address1': '2400 Central Ave SE',
  'address2': '',
  'address3': '',
  'city': 'Albuquerque',
  'country': 'US',
  'display_address': ['2400 Central Ave SE', 'Albuquerque, NM 87106'],
  'state': 'NM',
  'zip_code': '87106'},
 'name': 'Frontier Restaurant',
 'phone': '+15052660550',
 'price': '$',
 'rating': 4.0,
 'review_count': 1369,
 'transactions': [],
 'url': 'https://www.yelp.com/biz/frontier-restaurant-albuquerque-2?adjust_creative=SYc8R4Gowqru5h4SBKZXsQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SYc8R4Gowqru5h4SBKZXsQ'}

As we already know, one way to quickly view the attributes of a dictionary is to look at the keys of the dictionary.

In [4]:
# Run this cell without changes
fork_fig.keys()

dict_keys(['categories', 'coordinates', 'display_phone', 'distance', 'id', 'image_url', 'is_closed', 'location', 'name', 'phone', 'price', 'rating', 'review_count', 'transactions', 'url'])

In [5]:
# Run this cell without changes
frontier_restaurant.keys()

dict_keys(['categories', 'coordinates', 'display_phone', 'distance', 'id', 'image_url', 'is_closed', 'location', 'name', 'phone', 'price', 'rating', 'review_count', 'transactions', 'url'])

In [6]:
# Run this cell without changes
fork_fig.keys() == frontier_restaurant.keys()

True

As we can see from our above comparison, Yelp provides us with the same information for both restaurants.  

## Writing Functions to Extract Information

Ok, now let's write our functions.

Write a function called `restaurant_name()` that, provided a dictionary representing a restaurant like you saw above, returns that restaurant's name.

In [7]:
fork_fig['name']

'Fork & Fig'

In [8]:
def restaurant_name(restaurant):
    # Replace None with appropriate code
    return restaurant['name']

In [9]:
# Run this cell without changes
restaurant_name(frontier_restaurant) # 'Frontier Restaurant'

'Frontier Restaurant'

In [10]:
# Run this cell without changes
restaurant_name(fork_fig) # 'Fork & Fig'

'Fork & Fig'

Now write a function called `restaurant_rating()` that returns the rating of the provided restaurant.

In [11]:
fork_fig['rating']

4.5

In [12]:
def restaurant_rating(restaurant):
    # Replace None with appropriate code
    return restaurant['rating']

In [13]:
# Run this cell without changes
restaurant_rating(frontier_restaurant) # 4.0

4.0

In [14]:
# Run this cell without changes
restaurant_rating(fork_fig) # 4.5

4.5

## Comparing Restaurants

Now let's write a function called `is_better()` that returns `True` if a restaurant has a higher rating than an alternative restaurant.  The first argument should be called `restaurant` and the second argument should be called `alternative`.  The function returns `False` if the two ratings are equal.

This function should *call* (AKA *invoke*) your existing `restaurant_rating` function.

In [15]:
# def is_better(restaurant, alternative):
#     # Replace None with appropriate code
#     first_restraunt=restaurant_rating(restaurant)
#     alternative_restaurant= restaurant_rating(alternative)
#     print(first_restraunt,alternative_restaurant)
#     if first_restraunt > alternative_restaurant:
#       return True
#     else:
#       return False
def is_better(restaurant, alternative):
    if restaurant_rating(restaurant) > restaurant_rating(alternative):
      return True
    else:
      return False
#Teachers code
def is_better(restaurant, alternative):
    return restaurant_rating(restaurant) > restaurant_rating(alternative)

In [16]:
# Run this cell without changes
is_better(frontier_restaurant, fork_fig) # False

False

In [17]:
# Run this cell without changes
is_better(fork_fig, frontier_restaurant) # True

True

In [18]:
# Run this cell without changes
is_better(fork_fig, fork_fig) # False

False

Now let's write a function called `is_cheaper()` that returns `True` if a restaurant has a lower price, that is the restaurant has fewer `'$'` signs, than an alternative restaurant. The first argument should be called `restaurant` and the second argument should be called `alternative`. The function returns `False` if the two prices are equal.

> **Hint:** *Strings in Python respond to then `len` function.*

In [19]:
fork_fig['price'],frontier_restaurant['price']

('$$', '$')

In [20]:
len(fork_fig['price']),len(frontier_restaurant['price'])

(2, 1)

In [21]:
def is_cheaper(restaurant, alternative):
    restaurant_price=restaurant['price']
    alternative_price=alternative['price']
    if len(restaurant_price) < len (alternative_price):
      return True
    else:
      return False
#Teachers code
def restaurant_price_len(restaurant):
    return len(restaurant['price'])

def is_cheaper(restaurant, alternative):
    return restaurant_price_len(restaurant) < restaurant_price_len(alternative)

In [22]:
# Run this cell without changes
is_cheaper(fork_fig, frontier_restaurant) # False

False

In [23]:
# Run this cell without changes
is_cheaper(frontier_restaurant, fork_fig) # True

True

In [24]:
# Run this cell without changes
is_cheaper(fork_fig, fork_fig) # False

False

Now write a function called `high_rating()` that takes a `restaurant` as a first argument and a rating (in the form of a number) as the second argument and returns `True` if the given restaurant's rating is greater than or equal to the provided rating and returns `False` otherwise.

In [25]:
def high_rating(restaurant, rating):
    restaurants_rating = restaurant_rating(restaurant)
    #print(restaurants_rating)
    if restaurants_rating >= rating:
      return True
    else:
      return False
#Teachers code
def high_rating(restaurant, rating):
    return restaurant_rating(restaurant) >= rating

In [26]:
# Run this cell without changes
high_rating(fork_fig, 4) # True

True

In [27]:
# Run this cell without changes
high_rating(fork_fig, 5) # False

False

In [28]:
# Run this cell without changes
high_rating(frontier_restaurant, 4) # True

True

Awesome! We have built out some pretty cool functions so far. Let's now think about a case where we have more than just two data points to operate on. We have added some more restaurant dictionaries below and are going to add them to our list of restaurants. Don't worry that they have a slightly different amount of data.

We are going to need a function `mean_review_count()` to give us an idea what the typical value for `review_count` is. This function should take in a list of restaurant dictionaries and return the mean of the review counts for the collection of restaurant dictionaries.

In [47]:
# Run this cell without changes
dennys = {'categories': [{'alias': 'breakfast', 'title': 'Breakfast'},
  {'alias': 'diners', 'title': 'Diners'},
  {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
 'is_closed': False,
 'name': "Denny's",
 'price': '$',
 'rating': 3.0,
 'review_count': 1200}

ihop = {'categories': [{'alias': 'breakfast', 'title': 'Breakfast'},
  {'alias': 'diners', 'title': 'Diners'},
  {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
 'is_closed': False,
 'name': "IHOP: International House of Pancakes",
 'price': '$',
 'rating': 3.45,
 'review_count': 1588}

mcdonalds = {'categories': [{'alias': 'breakfast', 'title': 'Breakfast'},
  {'alias': 'burgers', 'title': 'Burgers'},
  {'alias': 'fast food', 'title': 'Good Food Fast'}],
 'is_closed': False,
 'name': "McDonalds",
 'price': '$',
 'rating': 3.45,
 'review_count': 2455}

pearl_street_oyster_bar = {'categories': [{'alias': 'seafood', 'title': 'Seafood'},
  {'alias': 'gourmet', 'title': 'Gourmet'},
  {'alias': 'Shellfish', 'title': 'Shellfish'}],
 'is_closed': False,
 'name': "Pear Street Oyster Bar",
 'price': '$$$',
 'rating': 4.75,
 'review_count': 350}

In [48]:
# Run this cell without changes
restaurant_list = [pearl_street_oyster_bar, mcdonalds, ihop, dennys, fork_fig, frontier_restaurant]

In [31]:
from statistics import mean
rest_review=[]
for restaraunt in restaurant_list:
  #print(restaraunt['review_count'])
  rest_review.append(restaraunt['review_count'])
  mean_review=mean(rest_review)
print(mean_review)
print(rest_review)

1261
[350, 2455, 1588, 1200, 604, 1369]

In [49]:
from statistics import mean
review_count=[]
def mean_review_count(list_of_restaurants):
    for restaurant in list_of_restaurants:
      #print(restaurant['review_count'])
      review_count.append(restaurant['review_count'])
    return mean(review_count)

In [50]:
#use list comprehension
def mean_review_count(list_of_restaurants):
  reviews=[(restaurant['review_count']) for restaurant in list_of_restaurants]
  return mean(reviews)

In [51]:
# Run this cell without changes
mean_review_count(restaurant_list) #1261.0

1261

Now we have an idea of how many reviews a typical restaurant has, but none of these restaurants have exactly that number of reviews.

Which restaurants have a `review_count` within 150 of the average? ("within 150" meaning exactly average, <= 150 fewer reviews than the average, or <= 150 more reviews than the average)

Return a list of the restaurant names.

In [74]:
restaurant_name = []
def near_average_review_count(list_of_restaurants):
  mean_restaurants = mean_review_count(list_of_restaurants)
  #print(mean_restaurants)
  for restaraunt in list_of_restaurants:
    review_count = restaraunt['review_count']
    difference_count =  mean_restaurants - review_count
    #print(difference_count)
    if abs(difference_count) <= 150:
        #print(restaraunt['name'],difference_count)
        restaurant_name.append(restaraunt['name'])
  return restaurant_name

In [75]:
near_average_review_count(restaurant_list)

["Denny's", 'Frontier Restaurant']

In [36]:
results=[]
def near_average_review_count(list_of_restaurants):
    #mean = mean_review_count(list_of_restaurants)
    mean=1261
    # Replace None with appropriate code
    for restaurant in list_of_restaurants:
      name=restaurant['name']
      count=restaurant['review_count']
      review_diff=count-mean
      #print('diff',name,review_diff)
      if review_diff <=150:
        results.append(f'{name}:{review_diff}')
    return results
            #print(f'{name}:{count}')

In [37]:
# Run this cell without changes
near_average_review_count(restaurant_list) # ["Denny's", 'Frontier Restaurant']

['Pear Street Oyster Bar:-911',
 "Denny's:-61",
 'Fork & Fig:-657',
 'Frontier Restaurant:108']

## Summary

Great! In this lab we saw how to pass both single and multiple arguments to functions. Function arguments can make functions more flexible and reusable!