## 1.Reverse words
### Complete the function that accepts a string parameter, and reverses each word in the string. All spaces in the string should be retained.
Examples
"This is an example!" ==> "sihT si na !elpmaxe"
"double  spaces"      ==> "elbuod  secaps"

In [1]:
def reverse_words(text):
   return ' '.join(x[::-1] for x in text.split(' '))
return ' '.join(x[::-1]) for x in text.split(' ')

SyntaxError: invalid syntax (1611355329.py, line 3)

In [ ]:
reverse_words('The quick brown fox jumps over the lazy dog')

In [ ]:
reverse_words('apple')

In [ ]:
reverse_words('a b c d')

In [ ]:
def reverse_words(text):
    return [' '.join(x[::-1] for x in text.split(' '))]

In [ ]:
reverse_words('The quick brown fox jumps over the lazy dog')

In [ ]:
def reverse_words(str):
  return ' '.join(map(lambda x:x[::-1],str.split(' ')))

In [ ]:
reverse_words('The quick brown fox jumps over the lazy dog')

## 2.Disemvowel Trolls
### A common way to deal with this situation is to remove all of the vowels from the trolls' comments, neutralizing the threat.

Your task is to write a function that takes a string and return a new string with all vowels removed.

For example, the string "This website is for losers LOL!" would become "Ths wbst s fr lsrs LL!".

Note: for this kata y isn't considered a vowel.

In [ ]:
def disemvowel(string_):
    vowels='aeiouAEIOU'
    return ''.join(i for i in string_ if i not in vowels)

In [ ]:
disemvowel('This website is for losers LOL!')

In [ ]:
def disemvowel(string_):
    vowels='aeiouAEIOU'
    for i in vowels:
        string_=string_.replace(i,'')
    return string_
disemvowel('This website is for losers LOL!')

## 3.Binary Addition
###  Implement a function that adds two numbers together and returns their sum in binary. The conversion can be done before, or after the addition.
### The binary number returned should be a string.
Examples:(Input1, Input2 --> Output (explanation)))

1, 1 --> "10" (1 + 1 = 2 in decimal or 10 in binary)
5, 9 --> "1110" (5 + 9 = 14 in decimal or 1110 in binary)

In [ ]:
def add_binary(a,b):
    return bin(a+b).replace('0b',"")

In [ ]:
add_binary(1,1)

In [ ]:
def add_binary(a,b):
    return '{0:b}'.format(a+b)

In [ ]:
add_binary(1,1)

In [ ]:
def add_binary(a,b):
    return bin(a+b)[2:]

In [ ]:
add_binary(1,1)

In [ ]:
add_binary(5,9)

## 4. Sum of odd numbers
###  Given the triangle of consecutive odd numbers:

             1
          3     5
       7     9    11
   13    15    17    19
21    23    25    27    29
...
Calculate the sum of the numbers in the nth row of this triangle (starting at index 1) e.g.: (Input --> Output)

#### 1 -->  1
#### 2 --> 3 + 5 = 8

In [ ]:
import math
def row_sum_odd_numbers(n):
    return math.pow(n,3)

In [ ]:
row_sum_odd_numbers(41)

In [ ]:
row_sum_odd_numbers(3)

## 5. Growth of a Population
### In a small town the population is p0 = 1000 at the beginning of a year. The population regularly increases by 2 percent per year and moreover 50 new inhabitants per year come to live in the town. How many years does the town need to see its population greater than or equal to p = 1200 inhabitants?

At the end of the first year there will be: 
1000 + 1000 * 0.02 + 50 => 1070 inhabitants

At the end of the 2nd year there will be: 
1070 + 1070 * 0.02 + 50 => 1141 inhabitants (** number of inhabitants is an integer **)

At the end of the 3rd year there will be:
1141 + 1141 * 0.02 + 50 => 1213

It will need 3 entire years.

More generally given parameters:

p0, percent, aug (inhabitants coming or leaving each year), p (population to equal or surpass)

the function nb_year should return n number of entire years needed to get a population greater or equal to p.

aug is an integer, percent a positive or null floating number, p0 and p are positive integers (> 0)

In [2]:
def nb_year(p0, percent, aug, p):
    count = 0
    while p0 <= p:
        p0=p0+(int(p0*(percent/100))+aug)
        count+=1
    return count

In [3]:
nb_year(1500, 5, 100, 5000)

15

In [4]:
nb_year(1500000, 2.5, 10000, 2000000)

10

In [5]:
nb_year(1500000, 0.25, 1000, 2000000)

94

## 6. Sum Arrays
### Write a function that takes an array of numbers and returns the sum of the numbers. The numbers can be negative or non-integer. If the array does not contain any numbers then you should return 0.
Examples
Input: [1, 5.2, 4, 0, -1]
Output: 9.2

Input: []
Output: 0

Input: [-2.398]
Output: -2.398

In [7]:
def sum_array(a):
    return sum(a)

In [9]:
sum_array([1, 2, 3])

6

In [11]:
sum_array(range(101))

5050

In [12]:
sum_array([-2.398])

-2.398

In [13]:
sum_array([])

0

## 7. Vowel Count
### Return the number (count) of vowels in the given string.
We will consider a, e, i, o, u as vowels for this Kata (but not y).

The input string will only consist of lower case letters and/or spaces.

In [41]:
def get_count(sentence):
    vowels='aeiou'
    return sum(sentence.count(vowel) for vowel in vowels)

In [42]:
get_count('abracadabra')

5

In [43]:
get_count('bcdfghjklmnpqrstvwxz')

0

In [44]:
get_count('aeiou')

5

## 8. Friend or Foe?
### Return the number (count) of vowels in the given string.
Make a program that filters a list of strings and returns a list with only your friends name in it.

If a name has exactly 4 letters in it, you can be sure that it has to be a friend of yours! Otherwise, you can be sure he's not...

Ex: Input = ["Ryan", "Kieran", "Jason", "Yous"], Output = ["Ryan", "Yous"]

i.e.

friend ["Ryan", "Kieran", "Mark"] `shouldBe` ["Ryan", "Mark"]

In [66]:
def friend(x):
    return [i for i in x if len(i)==4]

In [62]:
friend(["Ryan", "Kieran", "Mark",])

['Ryan', 'Mark']

In [63]:
friend(["Ryan", "Jimmy", "abc", "d", "Cool Man"])

['Ryan']

In [64]:
friend(["Jimm", "Cari", "aret", "truehdnviegkwgvke", "sixtyiscooooool"])

['Jimm', 'Cari', 'aret']

## 9. How good are you really?
### There was a test in your class and you passed it. Congratulations!
But you're an ambitious person. You want to know if you're better than the average student in your class.
### You receive an array with your peers' test scores. Now calculate the average and compare your score!
### Return true if you're better, else false!
Make a program that filters a list of strings and returns a list with only your friends name in it.

If a name has exactly 4 letters in it, you can be sure that it has to be a friend of yours! Otherwise, you can be sure he's not...

Ex: Input = ["Ryan", "Kieran", "Jason", "Yous"], Output = ["Ryan", "Yous"]

i.e.

friend ["Ryan", "Kieran", "Mark"] `shouldBe` ["Ryan", "Mark"]

In [103]:
from statistics import mean
def better_than_average(class_points, your_points):
    return mean(class_points)<=your_points

In [104]:
better_than_average([2, 3], 5)

True

In [105]:
better_than_average([100, 40, 34, 57, 29, 72, 57, 88], 75)

True

In [106]:
better_than_average([12, 23, 34, 45, 56, 67, 78, 89, 90], 69)

True

In [107]:
better_than_average([41, 75, 72, 56, 80, 82, 81, 33], 50)

False

In [108]:
better_than_average([29, 55, 74, 60, 11, 90, 67, 28], 21)

False

## 10. Basic Mathematical Operations
### Your task is to create a function that does four basic mathematical operations.
#### The function should take three arguments - operation(string/char), value1(number), value2(number).
#### The function should return result of numbers after applying the chosen operation.
Examples(Operator, value1, value2) --> output
('+', 4, 7) --> 11
('-', 15, 18) --> -3
('*', 5, 5) --> 25
('/', 49, 7) --> 7

In [123]:
#allows us to evaluate the Python expression as a 'string' and return the value as an integer
def basic_op(operator, value1, value2):
    return eval(f'{value1}{operator}{value2}')

In [118]:
basic_op('+', 4, 7)

11

In [120]:
basic_op('-', 15, 18)

-3

In [121]:
basic_op('*', 5, 5)

25

In [122]:
basic_op('/', 49, 7)

7.0

In [124]:
def basic_op(operator, value1, value2):
    if operator=='+':
        return value1+value2
    if operator=='-':
        return value1-value2
    if operator=='/':
        return value1/value2
    if operator=='*':
        return value1*value2

In [125]:
def basic_op(operator, value1, value2):
    return eval("{}{}{}".format(value1, operator, value2))

## 11. Find the smallest integer in the array
### Given an array of integers your solution should find the smallest integer.
For example:

Given [34, 15, 88, 2] your solution will return 2
Given [34, -345, -1, 100] your solution will return -345
You can assume, for the purpose of this kata, that the supplied array will not be empty.

In [128]:
def find_smallest_int(arr):
    return min(arr)

In [129]:
find_smallest_int([78, 56, 232, 12, 11, 43])

11

In [130]:
find_smallest_int([78, 56, -2, 12, 8, -33])

-33

In [131]:
find_smallest_int([0, 1-2**64, 2**64])

-18446744073709551615

In [132]:
def findSmallestInt(arr):
    #sort array
    arr.sort()
    return arr[0]

## 12. Returning Strings
### Make a function that will return a greeting statement that uses an input; your program should return, "
Hello, name- how are you doing today?".
.

In [136]:
def greet(name):
    return f'Hello, {name} how are you doing today?'

In [137]:
greet('Ryan')

'Hello, Ryan how are you doing today?'

In [ ]:
## 13. Returning Strings
### Make a function that will return a greeting statement that uses an input; your program should return, "
Hello, -name- how are you doing today?".

## 13. Count of positives / sum of negatives
### Given an array of integers.

Return an array, where the first element is the count of positives numbers and the second element is sum of negative numbers. 0 is neither positive nor negative.

If the input is an empty array or is null, return an empty array.
Example
For input [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15], you should return [10, -65].

In [267]:
def count_positives_sum_negatives(arr):
    negatives=[]
    positives=[]
    if len(arr)>0:
        for i in arr:
            if i<0:
                negatives.append(i)
            elif i>0:
                positives.append(i)
        return [len(positives),sum(negatives)]
    else:
        return []

In [252]:
count_positives_sum_negatives([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15])

[10, -65]

In [253]:
count_positives_sum_negatives([0, 2, 3, 0, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14])

[8, -50]

In [268]:
count_positives_sum_negatives([])

[]

In [263]:
def count_positives_sum_negatives(arr):
    negatives=[]
    positives=[]
    return len([i for i in arr if i>0])  , sum([i for i in arr if i<0]) if len(arr)!=0 else []

In [269]:
count_positives_sum_negatives([])

[]

In [264]:
count_positives_sum_negatives([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15])

[10, -65]

In [248]:
def count_positives_sum_negatives(arr):
    return [len([i for i in arr if i > 0]), sum([i for i in arr if i < 0])] if len(arr) != 0 else []

In [249]:
count_positives_sum_negatives([])

[]

In [265]:
count_positives_sum_negatives([0, 2, 3, 0, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14])

[8, -50]

## 14. Reversed sequence
### Build a function that returns an array of integers from n to 1 where n>0.
Example : n=5 --> [5,4,3,2,1]

In [305]:
def reverse_seq(n):
    x=[i for i in range(1,n+1)]
    x.reverse()
    return x

In [306]:
reverse_seq(5)

[5, 4, 3, 2, 1]

In [323]:
def reverse_seq(n):
    x=list(range(1,n+1))
    x.reverse()
    return x

In [324]:
reverse_seq(5)

[5, 4, 3, 2, 1]

In [317]:
def reverse_seq(n):
    return list(range(n,0,-1))

In [318]:
reverse_seq(5)

[5, 4, 3, 2, 1]

## 15. If you can't sleep, just count sheep!!
### Task:
Given a non-negative integer, 3 for example, return a string with a murmur: "1 sheep...2 sheep...3 sheep...". Input will always be valid, i.e. no negative integers.

In [375]:
def count_sheep(n):
    sheep=''
    for i in range(1,n+1):
        sheep=sheep+(f'{i} sheep...')
    return sheep

In [376]:
count_sheep(3)

'1 sheep...2 sheep...3 sheep...'

In [377]:
count_sheep(1)

'1 sheep...'

In [378]:
count_sheep(0)

''

In [385]:
def count_sheep(n):
    return ''.join(f'{i} sheep...' for i in range(1,n+1))

In [386]:
count_sheep(3)

'1 sheep...2 sheep...3 sheep...'

## 16. Square Every Digit
### Welcome. In this kata, you are asked to square every digit of a number and concatenate them.

For example, if we run 9119 through the function, 811181 will come out, because 92 is 81 and 12 is 1. (81-1-1-81)

Example #2: An input of 765 will/should return 493625 because 72 is 49, 62 is 36, and 52 is 25. (49-36-25)

Note: The function accepts an integer and returns an integer.

Happy Coding!

In [388]:
def square_digits(num):
    return [i**2 for i in num]

In [389]:
square_digits(765)

TypeError: 'int' object is not iterable

In [446]:
#didnt work in kata coz it required a return function
def square_digits(num):
    num=list(str(num))
    for i in num:
        print((int(i)**2),end='')
    #return squared

In [447]:
square_digits(765)

493625

In [445]:
square_digits(0)

'0'

In [448]:
def square_digits(num):
    result=''
    for i in str(num):
        result+=str(int(i)**2)
    return result