## 1. Calculate average

In [1]:
#includes getting mean of empty lists
def find_average(numbers):
    #return mean(numbers)
    avg= sum(numbers)/(len(numbers) or 1)
    return avg

In [2]:
x=(1,2,6)
y=()
find_average(y)

0.0

## 2. Beginner - Lost Without a Map
### Given an array of integers, return a new array with each value doubled.

### For example:

#### [1, 2, 3] --> [2, 4, 6]

In [3]:
def maps(a):
    doubled_num=[]
    for i in a :
        doubled_num.append(i*2)
        
    return doubled_num

In [4]:
maps(x)

[2, 4, 12]

In [5]:
y=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
maps(y)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
z=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
maps(z)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]]

In [7]:
#using list comprehesion and works.use square brackerts otherwise get generateetc error
def maps(a):
    return [i*2 for i in a]

## 3.DNA to RNA Conversion
### "GCAT"  =>  "GCAU"

In [8]:
def dna_to_rna(dna):
    RNA=''
    for i in dna:
        if i=='T':
           RNA=RNA+'U'
            
        else:
            RNA=RNA+i
    return RNA

In [9]:
dna_to_rna("GAT")

'GAU'

In [10]:
#simple answe
def dna_to_rna(dna):
    return dna.replace('T','U')
            
dna_to_rna("GAT")

'GAU'

## 4. Beginner Series #1 School Paperwork
##### Your classmates asked you to copy some paperwork for them. You know that there are 'n' classmates and the paperwork has 'm' pages.
###### Your task is to calculate how many blank pages do you need. If n < 0 or m < 0 return 0.
### Example:
### n= 5, m=5: 25
### n=-5, m=5:  0

In [11]:
def paperwork(n,m):
    if n<0 or m<0:
        return 0
    else:
        return m*n

In [12]:
print(paperwork(5,1))
print(paperwork(1,2))
print(paperwork(-5,5))
print(paperwork(-5,0))

5
2
0
0

## 5. Sum without highest and lowest number
#### Sum all the numbers of a given array ( cq. list ), except the highest and the lowest element ( by value, not by index! ).
#### The highest or lowest element respectively is a single element at each edge, even if there are more than one with the same value.
### Example
### { 6, 2, 1, 8, 10 } => 16
### { 1, 1, 11, 2, 3 } => 6

In [28]:
#Need to start with arr=None and not len(arr) since if its starts with len it fails since None had no length
def sum_array(arr):
    if arr==None or len(arr)<=1  :
        return 0 
    else:
        max_no=max(arr)
        min_no=min(arr)
        arr.remove(min_no)
        arr.remove(max_no)
        return sum(arr)
        #return sum(arr) - max(arr) - min(arr)

In [31]:
#put all in one line
def sum_array(arr):
    if arr==None or len(arr)<=1  :
        return 0 
    else:
        return sum(arr)-max(arr)-min(arr)
        #return sum(arr) - max(arr) - min(arr)

In [43]:
#use the sort function
def sum_array(arr):
    if arr==None or len(arr)<=1  :
        return 0 
    else:
        arr.sort()
        return sum(arr)-arr[0]-arr[-1]

In [44]:
test=[6, 2, 1, 9, 10]
sum_array(test)

17

In [45]:
a=()
sum_array(a)

0

## 6. Find Maximum and Minimum Values of a List

In [55]:
def minimum(arr):
    return min(arr)

def maximum(arr):
    return max(arr)

In [ ]:
def min(arr):
    arr.sort()
    return arr[0]

def max(arr):
    arr.sort(reverse=True) #or remove reverse and access -1 instead of zero
    return arr[0]

In [56]:
print(test)
print(maximum(test))
print(minimum(test))

[1, 2, 6, 9, 10]
10
1

## 7. You Can't Code Under Pressure #1
##### You need to double the integer and return it.

In [57]:
def doubleInteger(i):
    return i * 2

## 8.Convert a string to an array
### Write a function to split a string and convert it into an array of words.
#### Examples (Input ==> Output):
#### "Robin Singh" ==> ["Robin", "Singh"]

In [66]:
def string_to_array(s):
    if s=='':
        return['']
    else:
        return s.split()

In [67]:
b="Robin Singh"
string_to_array(b)

['Robin', 'Singh']

In [68]:
c=""
string_to_array(c)

['']

## 9.Convert boolean values to strings 'Yes' or 'No'.
### Complete the method that takes a boolean value and return a "Yes" string for true, or a "No" string for false.

In [76]:
def bool_to_word(boolean):
    return 'Yes' if boolean==True else 'No'

In [80]:
bool_to_word(True)

'Yes'

In [81]:
bool_to_word(False)

'No'

In [79]:
#Method 2
def bool_to_word(boolean):
    return "Yes" if boolean else "No"

## 10.Counting sheep...
### Consider an array/list of sheep where some sheep may be missing from their place. We need a function that counts the number of sheep present in the array (true means present).
#### For example,

[True,  True,  True,  False,
  True,  True,  True,  True ,
  True,  False, True,  False,
  True,  False, False, True ,
  True,  True,  True,  True ,
  False, False, True,  True]
### # The correct answer would be 17.

In [84]:
def count_sheeps(sheep):
    sheep_no=[]
    for i in sheep:
        if i==True:
            sheep_no.append(1)
            
    return len(sheep_no)

In [87]:
d=[True,  True,  True,  False,
  True,  True,  True,  True ,
  True,  False, True,  False,
  True,  False, False, True ,
  True,  True,  True,  True ,
  False, False, True,  True]
count_sheeps(d)

17

In [86]:
#Also worls
def count_sheeps(sheep):
    return sheep.count(True)

In [88]:
def count_sheeps(sheep):
  return len([x for x in sheep if x])

## 11.Count by X
### count_by(1,10) #should return [1,2,3,4,5,6,7,8,9,10]
### count_by(2,5) #should return [2,4,6,8,10]
        test.assert_equals(count_by(1, 5), [1, 2, 3, 4, 5])
        test.assert_equals(count_by(2, 5), [2, 4, 6, 8, 10])
        test.assert_equals(count_by(3, 5), [3, 6, 9, 12, 15])
        test.assert_equals(count_by(50, 5), [50, 100, 150, 200, 250])
        test.assert_equals(count_by(100, 5), [100, 200, 300, 400, 500])

In [121]:
def count(x,n):
    multiple=[]
    i=1
    while i<=n:
        multiple.append(x*i)
        i+=1
    
    return multiple

In [122]:
count(2,5)

[2, 4, 6, 8, 10]

In [123]:
count(100, 4)

[100, 200, 300, 400]

In [126]:
def count_by(x,n):
    return [x*i for i in range(1,n+1)]

In [127]:
count_by(3,5)

[3, 6, 9, 12, 15]

## 12.Return Negative
### In this simple assignment you are given a number and have to make it negative. But maybe the number is already negative?
### Examples
make_negative(1);  # return -1
make_negative(-5); # return -5
make_negative(0);  # return 0

In [136]:
def make_negative( number ):
    if number<=0:
        return number
    else:
        return -number

In [146]:
def make_negative( number ):
    return -number if number>0 else number

In [147]:
make_negative(0)

0

In [148]:
make_negative(5)

-5

In [149]:
make_negative(-5)

-5

In [142]:
def make_negative(number):
    return -abs(number)

In [145]:
make_negative(0)

0

## 13.You only need one - Beginner
### check whether the provided array contains the value.
### Array can contain numbers or strings. X can be either.
### Return true if the array contains the value, false if not.

In [155]:
def check(seq, elem):
    return True if elem in seq else False

In [161]:
check(["what", "a", "great", "kata"], "kat")

False

In [160]:
check([66, 101], 66)

True

In [159]:
def check(seq, elem):
    return  elem in seq

## 14.String ends with?
### Complete the solution so that it returns true if the first argument(string) passed in ends with the 2nd argument (also a string).
Examples:

solution('abc', 'bc') # returns true
solution('abc', 'd') # returns false

In [165]:
def solution(text, ending):
    return text.endswith(ending)

In [166]:
solution('abc', 'bc')

True

In [167]:
solution('abc', 'd')

False

## 15.Highest and Lowest
### You are given a string of space separated numbers, and have to return the highest and lowest number
Examples:

high_and_low("1 2 3 4 5")  # return "5 1"
high_and_low("1 2 -3 4 5") # return "5 -3"
high_and_low("1 9 3 4 -5") # return "9 -5"

In [216]:
def high_and_low(numbers):
    numbers=numbers.split()
    numbers=[int(number) for number in numbers]
    numbers= (f'{max(numbers)} {min(numbers)}')
    return numbers

In [217]:
high_and_low("1 2 3 4 5")

'5 1'

In [215]:
numbers=("8 3 -5 42 -1 0 0 -9 4 7 4 -4")
numbers=numbers.split()
numbers=[int(number) for number in numbers]
print(max(numbers))
print(min(numbers))
print(f'{max(numbers)} {min(numbers)}')
numbers

42
-9
42 -9

[8, 3, -5, 42, -1, 0, 0, -9, 4, 7, 4, -4]

In [218]:
high_and_low("1 2 -3 4 5")

'5 -3'

In [219]:
high_and_low("1 9 3 4 -5")

'9 -5'

In [220]:
high_and_low("8 3 -5 42 -1 0 0 -9 4 7 4 -4")

'42 -9'

In [221]:
def high_and_low(numbers):
    numbers=numbers.split()
    numbers=list(map(int,numbers))
    print(f'{max(numbers)} {min(numbers)}')

In [222]:
high_and_low("8 3 -5 42 -1 0 0 -9 4 7 4 -4")

42 -9

In [223]:
#on one line
def high_and_low(numbers):
  numbers = [int(c) for c in numbers.split(' ')]
  return f"{max(numbers)} {min(numbers)}"

In [228]:
def high_and_low(numbers):
    numbers=numbers.split()
    numbers=list(map(int,numbers))
    numbers.sort()
    numbers=f'{numbers[-1]} {numbers[0]}'
    return numbers

In [229]:
high_and_low("8 3 -5 42 -1 0 0 -9 4 7 4 -4")

'42 -9'

## 16.Exes and Ohs
### Check to see if a string has the same amount of 'x's and 'o's. The method must return a boolean and be case insensitive. The string can contain any char.
Examples:

XO("ooxx") => true
XO("xooxx") => false
XO("ooxXm") => true
XO("zpzpzpp") => true // when no 'x' and 'o' is present should return true
XO("zzoo") => false

In [246]:
def xo(s):
    s=s.lower()
    return s.count('x') ==s.count('o')

In [247]:
xo("ooxx")

True

In [248]:
xo('xooxx')

False

In [249]:
xo("zpzpzpp")

True

##  17.Remove String Spaces
### Write a function that removes the spaces from the string, then return the resultant string

In [254]:
#canot use strip, strip only removes leading and trailing spaces not in betweeen
x='8 j 8   mBliB8g  imjB8B8  jl  B'
x.replace(" ","")

'8j8mBliB8gimjB8B8jlB'

'8 j 8   mBliB8g  imjB8B8  jl  B'