<a href="https://colab.research.google.com/github/GraceMwende/Data_science_notebooks/blob/main/While_Loops%2C_Break_and_Continue_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# While Loops, Break and Continue - Lab

## Introduction
In this lab, we will practice using `while` loops, and `break` and `continue` statements in our code. We will use our control flow statements to iterate through collections and filter out or selectively operate on each element. We'll use `while` loops to perform operations until a given condition is no longer true.

## Objectives
You will be able to:

* Use a `while` loop
* Use `break` and `continue` to add control flow to a `while` loop

## Instructions

### While Loops

Imagine a person named Agnes is finally ready to achieve her dream of becoming a competitive eater! Because the competition is so fierce, she knows she'll need to do lots of training to become number one.

Her first regiment of training consists of eating pizza. Below is a `for` loop version of her training process. Using your knowledge of `while` loops, translate the pizza eating code below from a `for` loop to a `while` loop.

In [ ]:
slices_of_pie = 6
slices_eaten = 0

for slice in range(slices_of_pie):
    print('Another slice eaten!')
    slices_eaten += 1
    print('Now eaten {} slices!'.format(slices_eaten))

Another slice eaten!
Now eaten 1 slices!
Another slice eaten!
Now eaten 2 slices!
Another slice eaten!
Now eaten 3 slices!
Another slice eaten!
Now eaten 4 slices!
Another slice eaten!
Now eaten 5 slices!
Another slice eaten!
Now eaten 6 slices!

In [1]:
slices_of_pie = 6
slices_eaten = 0

while slices_eaten<6:
  print('Another slice eaten!')
  slices_eaten += 1
  print('Now eaten {} slices!'.format(slices_eaten))

# add your while loop here that achieves the same results as the for loop above

Another slice eaten!
Now eaten 1 slices!
Another slice eaten!
Now eaten 2 slices!
Another slice eaten!
Now eaten 3 slices!
Another slice eaten!
Now eaten 4 slices!
Another slice eaten!
Now eaten 5 slices!
Another slice eaten!
Now eaten 6 slices!

After a long night of training with pizza, Agnes sleeps like a rock. When she wakes up in the morning, she realizes that her journey is not over. It has only just begun! In the next cell, continue her training; this time she'll be eating pancakes. None of the pancakes are prepared yet, and she wants to determine how much time she'll have left over after making all the pancakes. Here are the important details:

* Agnes has 1468 seconds allotted for breakfast today
* Agnes will be making herself 5 pancakes
* Each pancake takes 27 seconds to cook on each side
* It takes an average of 5 seconds to either flip a pancake, add it or remove it from the pan
* There is only room for one pancake at a time on the frying pan
* Remember there are two sides to every pancake!  

After Agnes cooks the 5 pancakes, how much time will she have left over to eat them? Use a while loop to find out below.

In [2]:
54+5+5+5

69

In [7]:
time_for_breakfast = 1468 # in seconds
number_of_cooked_pancakes = 0

# write your while loop here
# use a while loop to make 5 pancakes for breakfast
while number_of_cooked_pancakes<5 :
  number_of_cooked_pancakes+=1
  print('cooked',number_of_cooked_pancakes)
  time_used=(54+5+5+5)
  print('time used',time_used)
  time_for_breakfast= time_for_breakfast-time_used

  print('time remaining',time_for_breakfast)
# each pancake takes 27 seconds to cook on each side
# it takes an average of 5 seconds to flip a pancake, add or remove a pancake from the pan.
# you must decrease the time_for_breakfast each time you
# add a pancake to the skillet (frying pan) or flip a pancake (i.e. 2 times per pancake)
# there is only room for one pancake at a time



# print out how much time is remaining

cooked 1
time used 69
time remaining 1399
cooked 2
time used 69
time remaining 1330
cooked 3
time used 69
time remaining 1261
cooked 4
time used 69
time remaining 1192
cooked 5
time used 69
time remaining 1123

## For Loops

Fast forward 5 years, and Agnes has become an international competitive eating superstar. Using her starpower, she decides to open up a restaurant chain. As part of a promotional deal, at a grand opening, she tells her fans that if they are part of the first 30 people to the restaurant, there is a 50% chance that they'll receive free food. Agnes executes this by giving each of the first 30 people a number ranging from 0-29. All people who have an even number will receive free food, and all those with odd numbers will sadly remain hungry :(. Use a loop to create two lists below of:

* `hungry_patrons`
* `fed_patrons`

All people will start out in the list of `hungry_patrons`, and only the lucky ones will move to `fed_patrons`.

> **Hint:** You may find the [remove method](https://www.programiz.com/python-programming/methods/list/remove) to be useful for the next problem

In [10]:
from re import I
line_of_hungry_patrons = list(range(0,30))
fed_patrons = []
hungry_patrons = []
for i in line_of_hungry_patrons:
  if i%2==0:
    #print('fed',i)
    fed_patrons.append(i)
    i+=1
  elif i%2!=0:
    hungry_patrons.append(i)
    continue
    i+=1
  else:
    print('Done')

print(fed_patrons)
print(hungry_patrons)
# use a for or while loop to feed the hungry patrons who have an even number
# add the patrons with an even number to the fed_patrons list
# then remove the even numbered patrons from the line_of_hungry_patrons
# each list should contain 15 elements

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [15]:
#while loop
line_of_hungry_patrons = list(range(0,30))
fed_patrons = []
hungry_patrons = []
i=0
while i<30:
  if i%2==0:
    #print('fed',i)
    fed_patrons.append(i)
    i+=1
  elif i%2!=0:
    hungry_patrons.append(i)
    continue
    i+=1
  else:
    print('Done')

print(fed_patrons)
print(hungry_patrons)
# use a for or while loop to feed the hungry patrons who have an even number
# add the patrons with an even number to the fed_patrons list
# then remove the even numbered patrons from the line_of_hungry_patrons
# each list should contain 15 elements

KeyboardInterrupt:

### `break` And `continue` Statements

Agnes decides that she wants to start creating targeted advertisements for people. Here is a list of customer objects with information about their name, age, job, pet, and pet name. You'll use loops to find people that meet certain requirements for Agnes' targeted marketing. Write `for` loops with conditional statements in conjunction with `break` and `continue` to get the desired output.

In [17]:
people = [
    {'name': "Daniel", 'age': 29, 'job': "Engineer", 'pet': "Cat", 'pet_name': "Gato"},
    {'name': "Katie", 'age': 30, 'job': "Teacher", 'pet': "Dog", 'pet_name': "Frank"},
    {'name': "Owen", 'age': 26, 'job': "Sales person", 'pet': "Cat", 'pet_name': "Cosmo"},
    {'name': "Josh", 'age': 22, 'job': "Student", 'pet': "Cat", 'pet_name': "Chat"},
    {'name': "Estelle", 'age': 35, 'job': "French Diplomat", 'pet': "Dog", 'pet_name': "Gabby"},
    {'name': "Gustav", 'age': 24, 'job': "Brewer", 'pet': "Dog", 'pet_name': "Helen"}
]

Use a `for` loop to find the first person in the list of people that has a dog as their pet. The iteration count shouldn't exceed 2. In your loop add a print statement that says

```python
 "{person} has a dog! Had to check {number} of records to find a dog owner."

```
The code has been started for you below:

In [19]:
people[0]['pet']

'Cat'

In [32]:
first_dog_person = []
iteration_count = 0
for person in people:
    iteration_count += 1
    # Continue writing code here
    print(people[iteration_count]['pet'])
    if people[iteration_count]['pet']=='Dog':
      first_dog_person.append((people[iteration_count]['name']))
      print('%s has a %s had to check %s of records to find the dog owner' %(people[iteration_count]['name'],people[iteration_count]['pet'],iteration_count))
      break

first_dog_person

Dog
Katie has a Dog had to check 1 of records to find the dog owner

['Katie']

Now, use a `for` loop to create a list of all the cat owners who are under the age of 28.

In [33]:
people[0]['pet']

'Cat'

In [34]:
people[0]['age']

29

In [54]:
people

[{'name': 'Daniel',
  'age': 29,
  'job': 'Engineer',
  'pet': 'Cat',
  'pet_name': 'Gato'},
 {'name': 'Katie',
  'age': 30,
  'job': 'Teacher',
  'pet': 'Dog',
  'pet_name': 'Frank'},
 {'name': 'Owen',
  'age': 26,
  'job': 'Sales person',
  'pet': 'Cat',
  'pet_name': 'Cosmo'},
 {'name': 'Josh',
  'age': 22,
  'job': 'Student',
  'pet': 'Cat',
  'pet_name': 'Chat'},
 {'name': 'Estelle',
  'age': 35,
  'job': 'French Diplomat',
  'pet': 'Dog',
  'pet_name': 'Gabby'},
 {'name': 'Gustav',
  'age': 24,
  'job': 'Brewer',
  'pet': 'Dog',
  'pet_name': 'Helen'}]

In [77]:
cat_owners = []
# for loop goes here
count=0
for cat_owner in people:

  if people[count]['pet']=='Cat' and people[count]['age']<28:
    print(people[count]['pet'],people[count]['age'])
    cat_owners.append((people[count]['pet'],people[count]['age']))
    count+=1
  elif people[count]['pet']!='Cat' or people[count]['age']>28:
    count+=1
    continue
  else:
    print('Done')

print(cat_owners)
print(type(cat_owners))
print(len(cat_owners))

Cat 26
Cat 22
[('Cat', 26), ('Cat', 22)]
<class 'list'>
2

Use a `for` loop to find the first person who is above 29 years old. Use a print statement to state their name and how old they are.

In [74]:
range(len(people))

range(0, 6)

In [75]:
people[0]['age']

29

In [80]:
thirty_something_yr_old = []
# for loop goes here
for person in range(len(people)):
  if people[person]['age'] <=29:
    person+=1
    continue
  else:
    print('%s is the first person above 29 years old he is %s' %(people[person]['name'],people[person]['age']))
    thirty_something_yr_old.append((people[person]['age']))
    break
    person+=1
thirty_something_yr_old

Katie is the first person above 29 years old he is 30

[30]

Use a `for` loop to create a list of people's names and another list of pet names for all the **dog owners**.

In [83]:
dog_owner_names = []
dog_names = []
# for loop goes here
for person in range(len(people)):
  if people[person]['pet'] !='Dog':
    person+=1
    continue
  else:
    dog_owner_names.append(people[person]['name'])
    dog_names.append(people[person]['pet_name']
    )
print(f'Dog owner names:{dog_owner_names}')
print(f'Dog names:{dog_names}')

Dog owner names:['Katie', 'Estelle', 'Gustav']
Dog names:['Frank', 'Gabby', 'Helen']

## Level Up
Use a `for` loop to create a list of odd numbers from the list of numbers from 0 to 100. Each time there is an odd number, add 10 to it and append it to `list_of_odd_numbers_plus_ten`. Stop adding numbers to the list when there are 35 numbers in it. Once you have reached 35 numbers, return the sum of the new list of numbers.

In [90]:
list_of_numbers = list(range(0, 100))
len(list_of_numbers)
list_of_odd_numbers_plus_ten = []
len(list_of_odd_numbers_plus_ten)

0

In [138]:
list_of_numbers = list(range(0, 100))
list_of_odd_numbers_plus_ten = []

# use a for loop to create a list of odd numbers from the list of numbers from 0 to 100
# each time there is an odd nmber, add 10 to it and append it to the list_of_odd_numbers_plus_ten
# stop adding numbers to the list when there are 35 numbers
# use break and continue statements in your code
for number in list_of_numbers:
    # Continue writing code here
    if len(list_of_odd_numbers_plus_ten)<35:

      if number%2!=0 :
          number+=10
          list_of_odd_numbers_plus_ten.append(number)


        #print('after',number)

print(list_of_odd_numbers_plus_ten)
print(sum(list_of_odd_numbers_plus_ten))
print(len(list_of_odd_numbers_plus_ten))

[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79]
1575
35

[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79]
1575
35

## Summary

In this lab, we practiced using `while` loops, which continue executing their block of code until the given condition is no longer true. This is useful for instances where we do not have a collection or do not need a collection to solve our problem, especially when we would only like to stop the process according to a certain condition. We then practiced using control flow statements, `break` and `continue`, to selectively operate on elements, append them to new lists, or assign them to new variables.