In [1]:
#remove() - removes an element by value
#del - removes an element by position

### List Comprehension

In [2]:
primes = [2,3,5,7,11,13,17,19]
#build a new list of that comprises doubles of primes
print_doubles = [x*2 for x in primes]
print(print_doubles)
print_triples = [x*3 for x in primes]
print(print_triples)

[4, 6, 10, 14, 22, 26, 34, 38]
[6, 9, 15, 21, 33, 39, 51, 57]

In [3]:
# for loops
print_doubles2 =[]
for x in primes:
    print_doubles2.append(x*2)
print_doubles2

[4, 6, 10, 14, 22, 26, 34, 38]

In [4]:
print_triples2 = []
for x in primes:
    print_triples2.append(x*3)
print_triples2

[6, 9, 15, 21, 33, 39, 51, 57]

### Dictionaries

In [5]:
my_dict = dict(zip(range(5),'aeiou'))
my_dict

{0: 'a', 1: 'e', 2: 'i', 3: 'o', 4: 'u'}

In [6]:
[v for k,v in my_dict.items() if k%4==0]

['a', 'u']

### Another List Comprehension example
I can use list comprehension to build a list from objects other than lists:

In [7]:
names = ('Alan Turing', 'Charles Babbage', 'Ada Lovelace',
        'Anita Borg', 'Steve Wozniak', 'Andrew Ng')
splits = [name.split() for name in names]
splits

[['Alan', 'Turing'],
 ['Charles', 'Babbage'],
 ['Ada', 'Lovelace'],
 ['Anita', 'Borg'],
 ['Steve', 'Wozniak'],
 ['Andrew', 'Ng']]

In [8]:
[name1[0]+ '.'+name2[0] + '.' for (name1,name2) in splits]

['A.T.', 'C.B.', 'A.L.', 'A.B.', 'S.W.', 'A.N.']

### EXERCISES
#### 1. use list comprehension to extract odd numbers from this set

In [1]:
nums = set(range(1000))
[num for num in nums if num %2==1]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 203,
 205,
 207,
 209,
 211,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 227,
 229,
 231,
 233,
 235,
 237,
 239,
 241,
 243,
 245,
 247,
 249,
 251,
 253,
 255,
 257,
 259,
 261,
 263,
 265,
 267,
 269,
 271,
 273,
 275,
 277,
 279,
 281,
 283,
 285,
 287,
 289,
 291,
 293,
 295,
 297,
 299,
 301,
 303,
 305,
 307,
 309,
 311,
 313,
 315,
 317,
 319,
 321,
 323,
 325,
 327,
 329,
 331,
 333,
 335,
 337,
 339,
 341,
 343,
 345,
 347,
 349,
 351,
 353,
 355,
 357,
 359,
 361,
 363,
 365,
 367,
 369,
 371,
 373,
 375,
 377,
 379,
 381,
 383,
 385,
 387,
 389,
 391,
 393,
 395,
 397,
 399,
 401,
 403,
 405,
 407,
 409,
 411,
 413,
 415,
 417,
 419,
 421,
 423,
 425,
 427,
 429,
 431,
 433,
 435,
 437,
 439,
 441,
 443,
 445,
 447,
 449,
 451,
 453,
 455,
 457,
 459,
 461,
 463,
 465,
 467,
 469,
 471,
 473,
 475,
 477,
 479,
 481,
 483,
 485,
 487,
 489,
 491,
 493,
 495,
 497,
 499,
 501,
 503,
 505,
 507,
 509,
 511,
 513,
 515,
 517,
 519,
 521,
 523,
 525,
 527,
 529,
 531,
 533,
 535,
 537,
 539,
 541,
 543,
 545,
 547,
 549,
 551,
 553,
 555,
 557,
 559,
 561,
 563,
 565,
 567,
 569,
 571,
 573,
 575,
 577,
 579,
 581,
 583,
 585,
 587,
 589,
 591,
 593,
 595,
 597,
 599,
 601,
 603,
 605,
 607,
 609,
 611,
 613,
 615,
 617,
 619,
 621,
 623,
 625,
 627,
 629,
 631,
 633,
 635,
 637,
 639,
 641,
 643,
 645,
 647,
 649,
 651,
 653,
 655,
 657,
 659,
 661,
 663,
 665,
 667,
 669,
 671,
 673,
 675,
 677,
 679,
 681,
 683,
 685,
 687,
 689,
 691,
 693,
 695,
 697,
 699,
 701,
 703,
 705,
 707,
 709,
 711,
 713,
 715,
 717,
 719,
 721,
 723,
 725,
 727,
 729,
 731,
 733,
 735,
 737,
 739,
 741,
 743,
 745,
 747,
 749,
 751,
 753,
 755,
 757,
 759,
 761,
 763,
 765,
 767,
 769,
 771,
 773,
 775,
 777,
 779,
 781,
 783,
 785,
 787,
 789,
 791,
 793,
 795,
 797,
 799,
 801,
 803,
 805,
 807,
 809,
 811,
 813,
 815,
 817,
 819,
 821,
 823,
 825,
 827,
 829,
 831,
 833,
 835,
 837,
 839,
 841,
 843,
 845,
 847,
 849,
 851,
 853,
 855,
 857,
 859,
 861,
 863,
 865,
 867,
 869,
 871,
 873,
 875,
 877,
 879,
 881,
 883,
 885,
 887,
 889,
 891,
 893,
 895,
 897,
 899,
 901,
 903,
 905,
 907,
 909,
 911,
 913,
 915,
 917,
 919,
 921,
 923,
 925,
 927,
 929,
 931,
 933,
 935,
 937,
 939,
 941,
 943,
 945,
 947,
 949,
 951,
 953,
 955,
 957,
 959,
 961,
 963,
 965,
 967,
 969,
 971,
 973,
 975,
 977,
 979,
 981,
 983,
 985,
 987,
 989,
 991,
 993,
 995,
 997,
 999]

### 2. Use a list comprehension to take the first character of each string from the following list of words.

In [10]:
words = ['carbon', 'osmium', 'mercury', 'potassium', 'rhenium', 'einsteinium',
        'hydrogen', 'erbium', 'nitrogen', 'sulfur', 'iodine', 'oxygen', 'niobium']
[word[0] for word in words]

['c', 'o', 'm', 'p', 'r', 'e', 'h', 'e', 'n', 's', 'i', 'o', 'n']

### 3.Use a list comprehension to build a list of all the names that start with 'R' from the following list. Add a '?' to the end of each name.

In [11]:
names = ['Randy', 'Robert', 'Alex', 'Ranjit', 'Charlie', 'Richard', 'Ravdeep',
        'Vimal', 'Wu', 'Nelson']
[name +'?' for name in names if name.startswith('R')]
#[name+'?' for name in names if name[0] == 'R']

['Randy?', 'Robert?', 'Ranjit?', 'Richard?', 'Ravdeep?']

In [12]:
'Race'.startswith('R')

True

### Dictionary Comprehension

In [3]:
my_dict = {'who': 'flatiron school', 'what': 'data science',
           'when': 'now', 'where': 'here', 'why': '$',
           'how': 'python'}
{k:v +'!' for k,v in my_dict.items() if k.startswith('w')}
#{k:v+'!'  for k,v in my_dict.items() if k[0]=='w'}

{'who': 'flatiron school!',
 'what': 'data science!',
 'when': 'now!',
 'where': 'here!',
 'why': '$!'}

In [14]:
#same works for any collection of doubles:
{k**2:v**2 for k,v in [(0,1),(2,3),(4,5)]}

{0: 1, 4: 9, 16: 25}

### zip
Remember that zip is a handy way of pairing up two or more iterables:

In [15]:
dict(zip(range(5),['apple', 'orange', 'banana', 'lime', 'blueberry']))

{0: 'apple', 1: 'orange', 2: 'banana', 3: 'lime', 4: 'blueberry'}

In [16]:
tuple(zip(range(1,5),'a'*4,'b'*4,'c'*4,'d'*4,'e'*4))

((1, 'a', 'b', 'c', 'd', 'e'),
 (2, 'a', 'b', 'c', 'd', 'e'),
 (3, 'a', 'b', 'c', 'd', 'e'),
 (4, 'a', 'b', 'c', 'd', 'e'))

### Dictionary Comprehesion using zip

In [17]:
{k:v for k,v in zip(range(5),range(0,10,2))}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [18]:
scores = [.858, .873, .868]
{'model'+ str(j+1) :scores[j] for j in range(3)}
#{f'Model{x+1}':score for x,score in enumerate(scores)}

{'model1': 0.858, 'model2': 0.873, 'model3': 0.868}

### EXERCISES
###  1.Use a dictionary comprehension to pair up the countries in the first list with their corresponding capitals in the second list:

In [19]:
list1 = ['USA', 'France', 'Canada', 'Thailand']
list2 = ['Washington', 'Paris', 'Ottawa', 'Bangkok']

dict(zip(list1,list2))
#{k:v for k,v in zip(list1,list2)}

{'USA': 'Washington',
 'France': 'Paris',
 'Canada': 'Ottawa',
 'Thailand': 'Bangkok'}

### 2. Use a dictionary comprehension to make each of the characters in the following list a key with the value 'fictional character'.

In [20]:
chars = ['Pinocchio', 'Gilgamesh', 'Kumar Patel', 'Toby Flenderson']
{k:'fictional character' for k in chars}

{'Pinocchio': 'fictional character',
 'Gilgamesh': 'fictional character',
 'Kumar Patel': 'fictional character',
 'Toby Flenderson': 'fictional character'}

### NESTING - Just as we can put lists and dictionaries inside of other lists and dictionaries, we can also put comprehensions inside of other comprehensions.

In [21]:
lists = [['morning', 'afternoon', 'night'], ['read', 'code', 'sleep']]
[[item[0] for item in small_list] for small_list in lists]

[['m', 'a', 'n'], ['r', 'c', 's']]

### NESTED STRUCTURES

In [4]:
customers = {
    'bill': {'purchases': {'movies': ['Terminator', 'Elf'],
                     'books': []}, 'id': 1},
            'dolph': {'purchases': {'movies': ['It Happened One Night'],
                     'books': ['The Far Side Gallery']}, 'id': 2},
            'pat': {'purchases': {'movies': [],
                   'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
                   'id': 3}
}

In [5]:
customers.keys()

dict_keys(['bill', 'dolph', 'pat'])

In [6]:
customers['pat'].keys()

dict_keys(['purchases', 'id'])

In [7]:
customers['pat']['purchases'].keys()

dict_keys(['movies', 'books'])

In [23]:
customers['pat']['purchases']['books'][1]

'I Am a Bunny'

### EXERCISES
### 1. From the list below, make a list of dictionaries where the key is the person's name and the value is the person's home phone number.

In [24]:
phone_nos = [{'name': 'greg', 'nums': {'home': 1234567, 'work': 7654321}},
          {'name': 'max', 'nums': {'home': 9876543, 'work': 1010001}},
            {'name': 'erin', 'nums': {'home': 3333333, 'work': 4444444}},
            {'name': 'joél', 'nums': {'home': 2222222, 'work': 5555555}},
            {'name': 'sean', 'nums': {'home': 9999999, 'work': 8888888}}]

In [25]:
#names
[phone_no['name'] for phone_no in phone_nos]

['greg', 'max', 'erin', 'joél', 'sean']

In [26]:
#Phone numbe
[phone_no['nums']['home'] for phone_no in phone_nos]

[1234567, 9876543, 3333333, 2222222, 9999999]

In [27]:
#Answer
{phone_no['name']:phone_no['nums']['home'] for phone_no in phone_nos}

{'greg': 1234567,
 'max': 9876543,
 'erin': 3333333,
 'joél': 2222222,
 'sean': 9999999}

### 2. From the customers dictionary above, build a dictionary where the customers' names are the keys and the movies they've bought are the values.

In [28]:
[customer for customer in customers]

['bill', 'dolph', 'pat']

In [29]:
customers['bill']['purchases']['movies']

['Terminator', 'Elf']

In [30]:
#ANS1
{customer:customers[customer]['purchases']['movies']  for customer in customers}

{'bill': ['Terminator', 'Elf'], 'dolph': ['It Happened One Night'], 'pat': []}

In [8]:
#ANS 2
{customer: customers[customer]['purchases']['movies'] for customer in customers.keys()}

{'bill': ['Terminator', 'Elf'], 'dolph': ['It Happened One Night'], 'pat': []}

In [33]:
[customer for customer in customers.items()]

[('bill',
  {'purchases': {'movies': ['Terminator', 'Elf'], 'books': []}, 'id': 1}),
 ('dolph',
  {'purchases': {'movies': ['It Happened One Night'],
    'books': ['The Far Side Gallery']},
   'id': 2}),
 ('pat',
  {'purchases': {'movies': [],
    'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
   'id': 3})]

In [34]:
#Ans 3
{k: v['purchases']['movies'] for k, v in customers.items()}

{'bill': ['Terminator', 'Elf'], 'dolph': ['It Happened One Night'], 'pat': []}

### Functions
### 1. Build a function that will automate the task of finding how many times a given number can be evenly divided by 2

In [35]:
def factors_of_two(num):
    ctr = 0
    while num %2==0:
        num/=2
        ctr+=1
    return ctr

In [36]:
factors_of_two(4)

2

In [37]:
factors_of_two(1536)

9

In [38]:
factors_of_two('greg')

TypeError: not all arguments converted during string formatting

In [39]:
### default Argument values
def cheers(person='aaron',job='Data Scientist',age=30):
    return f'Hooray for {person}. You\'re a {job} and you\'re a {age}!'

In [40]:
cheers('greg','scientist',130)

"Hooray for greg. You're a scientist and you're a 130!"

In [41]:
cheers('christian','git enthusiast',93)

"Hooray for christian. You're a git enthusiast and you're a 93!"

In [42]:
cheers()

"Hooray for aaron. You're a Data Scientist and you're a 30!"

In [43]:
# calling by posistion will bring not so good results if we interchange
cheers('scientist','greg',130)

"Hooray for scientist. You're a greg and you're a 130!"

In [44]:
#calling by value will work
cheers(job='scientist',person='greg',age=130)

"Hooray for greg. You're a scientist and you're a 130!"

### Exercises
### 1. Build a function that will return 2^n for an input of n

In [45]:
def exponetial(n):
    return 2**n

In [46]:
exponetial(1)

2

In [47]:
exponetial(2)

4

In [48]:
exponetial(5)

32

### 2.Build a function that will take in a list of phone numbers as strings and return the same as integers, removing any parentheses ('(' and ')'), hyphens ('-'), and spaces.

In [86]:
def remove_spaces(phone_lists):
    clean_phone=[]
    for phone in phone_lists:
        x=int(phone.replace('-','').replace('(','').replace(' ','').replace(')',''))
        clean_phone.append(x)
    return clean_phone

In [88]:
remove_spaces(['123-4','12()3','123 45'])

[1234, 123, 12345]

1

In [89]:
#test
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")
x

'banana'

### 3. Build a function that returns the mode of a list of numbers.

In [104]:
def mode(num_list):
    test ={}
    for num in num_list:
        if num not in test:
            test[num]=1
        else:
            test[num]+=1
    max_mode = max(test.values())
    modes=[]
    for key,value in test.items():
        if value==max_mode:
            modes.append(key)
    return modes
  
    
mode([1,2,3,4,4,5,5])

[4, 5]

In [105]:
embedded_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

{arr[1]: arr[2] for arr in embedded_tuples}

{2: 3, 5: 6, 8: 9}

In [106]:
def abbrev(string):

       return [substr[0] for substr in string.split()]

 

abbrev('Python is easy')

['P', 'i', 'e']